.admission-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #81c784, #4caf50);
}

.admission-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 15px;
}

span {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  border-color: #2d84ee;
}

button {
  background-color: #338bcf;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2d84ee;
}


.error-message {
  color: #d32f2f;
  font-size: 14px;
  margin-top: 5px;
}


@media (max-width: 768px) {
  .admission-form-container {
    flex-direction: column;
    text-align: center;
  }

  .admission-form {
    margin-top: 20px;
  }
}