body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1.5em;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.2em;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 0.8em;
    
}

a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background-image: url('../assets/Hero/yoga3.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 5em 0;
    height: 100vh;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}
.hero-content h1 {
    font-family: arial black, sans-serif; 
    font-size: 4em;
    color: #333;
    margin-top: -50px; 
}
.hero-content p {
    color: #333;
}

.landingpage_btn {
    margin-top: 300px;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

.class-card {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}


@media only screen and (max-width: 600px) {
  header {
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .landingpage_btn {
    margin-top: 20px;
  }

  section {
    padding: 20px;
  }

  .class-card {
    margin-bottom: 20px;
  }
}
